<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.min.js"></script>

    <script>
    var myApp=angular.module('myApp', []);
    myApp.controller('phoneController', function($scope) {
      $scope.n = 0;
      $scope.users =[
        'Юра',
        'Дима',
        'Вася',
        'Маша',
        'Даша'
      ];

      $scope.changeUserName = function(username){
        if($scope.users[0] =='Юра')
            $scope.users[0] = username;
        else
            $scope.users[0] = 'Юра';
        $scope.n++;
      };

      $scope.phones = [{
            name: 'Nokia Lumia 630',
            year: 2014,
            price: 200,
            company: {
                name: 'Nokia',
                country: 'Финляндия'
            }
        },{
            name: 'Samsung Galaxy S 4',
            year: 2014,
            price: 400,
            company: {
                name: 'Samsung',
                country: 'Республика Корея'
            }
        },{
            name: 'Mi 5',
            year: 2015,
            price: 300,
            company: {
                name: 'Xiaomi',
                country: 'Китай'
            }
        }]
    });

    </script>


</head>
<body ng-app="myApp">

<div ng-controller="phoneController">
    <p>Количество элементов: <span ng-bind="phones.length"></span></p>
    <p>Первый элемент: <span ng-bind="phones[0].name"></span></p>
    <div>Все подряд элементы:</div><br/>
    <div ng-repeat="phone in phones">
        {{phone.name}}<br/>
    </div>


    <input type="text" ng-model="phones[0].name" / >
    <p ng-bind="phones[0].name"></p>

    <div ng-controller="phoneController">
        <p ng-bind-template="{{phones[0].name}}: {{phones[0].price}} $"></p>
    </div>

    <p>{{1 + 6}}</p>
    <p ng-non-bindable>Ангуляр без привязки данных {{1 + 2}}</p>
    Пробую цикл
    <div ng-repeat="user in users">
        {{user}}
    </div><br/>


    <div>Старое значение: {{users[0]}}</div>
    <button ng-click = "changeUserName('Сменить значение')">Обновить</button><br/>
    <div>Новое значение: {{users[0]}}</div>
    <div>Кнопка нажата {{n}} раз</div>
</div>
    
</body>
</html>