﻿@model ADO.NET_Application.DAL.DataContext

<!DOCTYPE html>
<html>
<head>
    <title>Single Page MVC Homework</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>

</head>

<body>

<div class="container content">
    <div class="row">
        <div class="col-lg-5">

            @using (Html.BeginForm("Index", "Home"))
            {
                <label>Страна</label>
                
              
                @Html.DropDownList("MyCountries", null, new{ onchange = "document.location.href = '/Home/Index?country='+this.value;" });


                <label>Город</label>

                @Html.DropDownList("MyCities", null, new { onchange = "document.location.href = '/Home/Index?city='+this.value;" });
                <!--<input type="submit" value="Отфильтровать" />-->
            }
                
                
           



                
           


        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <td>Имя Сотрудника</td>
                    <td>Страна сотрудника</td>
                    <td>Город сотрудника</td>
                    <td>Заказ сотрудника</td>
                    <td>№ заказа</td>
                      

                </tr>
            </thead>

            <tbody>
                
               @foreach (var item in Model.data)
               {
                <tr>

                    <td>@item.EmpName</td>
                    <td>@item.EmpCountry</td>
                    <td>@item.EmpCity</td>
                    <td>@item.OrderName</td>
                    <td>@item.OrderNumber</td>
                </tr>
               }



            </tbody>




        </table>
    </div>
</div>
</body>

</html>