﻿@model EFDBFirst.Models.HomeViewModels.AddNewsModel
@{
    ViewBag.Title = "AddNews";
}

<h2>AddNews</h2>


@using (Html.BeginForm("AddNews", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Добавление новости</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Article.head, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Article.head, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Article.body, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Article.body, 5, 200, null)
        </div>
    </div>   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить новость" />
        </div>
    </div>
}
