﻿@*@model_comment EFDBFirst.Models.HomeViewModels.AddCommentModel*@
@*@model EFDBFirst.Models.HomeViewModels.AddNewsModel*@
@model EFDBFirst.Models.HomeViewModels.DetailesModel

@*@model EFDBFirst.Models.HomeViewModels.AddNewsAndComments*@



@{
    ViewBag.Title = "Детальный просмотр новости";
}

<h2>Страница детального просмотра новости</h2>

<br/>

<h2>@Model.Article.head</h2>
<p>@Model.Article.body</p>
<p>Дата создания: @Model.Article.date</p>

<div>
    Комментарии:<br/>
    @Model.Comm.comment1
</div>




@using (Html.BeginForm("AddNews", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br/><br/><br/>
    <h4>Добавление комментария</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @*@Html.LabelFor(m => m.Article.head, new { @class = "col-md-2 control-label" })*@
        @*@Html.Label("Заголовок новости", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Article.head, new { @class = "form-control" })
        </div>*@
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.Article.body, new { @class = "col-md-2 control-label" })*@
        @Html.Label("Комментарий", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Comm.comment1, 5, 200, null)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить Комментарий" />
        </div>
    </div>
}


