﻿
@{ 
//News_DBEntities db = new News_DBEntities();
//List<Article> list = db.Article.ToList();//Статьи
//List<Comment> com_list = db.Comment.ToList();
     }



@*@functions{
    public void AddRecord(/*string art_head, Nullable<int> comm_FK, DateTime dateparam*/)
    {
        News_DBEntities db = new News_DBEntities();
        List<Article> list = db.Article.ToList();//Статьи
        List<Comment> com_list = db.Comment.ToList();

        Article ar1 = new Article
        {

            head = "Новая статья",
            body = "Текст новой статьи",
            comment_FK = null,
            date = DateTime.Parse("04.04.2002")
        };

        list.Add(ar1);
        db.Article.Add(ar1);
        db.SaveChanges();
    }
}*@

@*<br/><br />
<h1>Добавить новую статью</h1>
<form action='' method="post">
    <div class="article_head">
        <h2>Заголовок статьи</h2>
        <input name="art_name" placeholder="Заголовок статьи" />
    </div>

    <div class="article_body">
        <h2>Текст статьи</h2>
        <textarea placeholder="Содержимое статьи" cols="40"></textarea>
    </div>
    <button type="submit" onclick="">Добавить</button>
</form>*@


@*<div class="row">
    @foreach (Article item in list)
    {
     <div class="article">
         <a href="Home/DetailNews">@item.head.ToString();</a>
         <div class="date">
         Дата: @item.date
         </div>
     </div>
    }  
</div>*@


<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
    @foreach (var item in Model.Articles)
    {
        <div class="article">
            <a href="Home/DetailNews/@item.ID">@item.head</a>
            <div class="date">
                Дата: @item.date
            </div>
        </div>
    }
    <button class="add_news btn btn-success">
        @Html.ActionLink("Добавить новость", "AddNews", "Home")
    </button>
    </div>
</div>




<div class="row">
    <!--Хочу вывести например комментарии-->
    @*@foreach(Comment element in com_list)
    {
        <div class="article">
            <a href="#">@element.comment1</a>
            <div class="date">
                Дата: @element.date;
            </div>
        </div>
    }
    *@
</div>