﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.article,.article a, .article .date, .add_news{
    float:left; 
}

.add_news{
    margin-top:50px;
}

button a{
    color:#fff;
}

button a:hover{
    color:#fff;
    text-decoration:none;
}


.article:first-child{
    margin-top:50px;
}
.date{
    margin-left:20px;
}